@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}
body{
    color: rgb(22, 25, 48);
    overflow-x: hidden;


}
:root{
    --Onest:"Onest", sans-serif;
    

}
.Header{
    height: 2.5rem;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header__nav{
    width: 30%;
    height:2.5rem;
    border-radius: 25px;
    background-color: rgba(216, 216, 231, 0.219);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(10px);
    
    
}
.Header a{
    text-decoration: none;
}
.Header  a:hover{
    color: rgb(250, 204, 21);
}
.Main{
    padding: 6rem 0 6rem 0;
    height: auto;
    max-width: 70%;
    margin: 0 auto;
    

}
.Main__perfil{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    

}
.Main__perfil__img{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    order: 2;
    position: relative;
    bottom: -4.3rem;
   
}
.avatar{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url(../img/mio1.jpg);
    background-position: center;
    background-size:cover;
}
.Main__perfil__img .button{
    position: relative;
    height: 2rem;
    width: 12rem; 
    border-radius: .9rem;
    overflow: hidden;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale .5s ease-in-out;
    &:hover{
        scale: 1.1;


    }
    &::after{
        content: "Listo para trabajar";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.8rem;
        width: 11.8rem;
        position: absolute;
        background-color: rgb(31 41 55);
        border-radius: .8rem;
        left: 2px;
        font-weight: 200;

    }
    
    
}
.Main__perfil__img .button .box{
    height: 20rem;
    width: 20rem;
    background-image: conic-gradient(from 90deg at 50% 50%, #FFD700,#21554e, #FFD700);
    animation: rotateBackground 5s  ease-in-out infinite; 


} 
@keyframes rotateBackground {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.Main_buttons{
    margin-top: 1.5rem;
    display: flex;
    gap: 1.4rem;
}
.Main__text{
    width: 60%;
    h1{
        font-size: 3rem;
        font-weight: 700;
        
    }
    strong{
        font-size: 1.5rem;
        color: rgba(250, 204, 21, 0.801);
        font-weight: 700;}
    p{
        font-size: 1.5rem;
        line-height: 1.75rem;

    }
}
.Main_buttons a{
        text-decoration: none;
        height: 2rem;
        width: max-content;
        border-radius: 0.9rem;
        padding: .5rem;
        background-color: rgba(216, 216, 231, 0.219);
        display: flex;
        gap: 0.2 rem;
        align-items: center;
        color: #ffffff;
        border:2px solid rgba(216, 216, 231, 0.445); 
        transition: scale .6s ease-in-out,border .4s  ease-in-out;
    &:hover{
        scale: 1.2;
        border: .1px solid rgba(216, 216, 231, 0.445);
    }   
        
}
#proyectos,#inicio,#sobremi{
    scroll-margin-top: 4rem;
    


}
.Section{
    height: auto;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h3{
        font-size: 1.9rem;
        line-height: 2rem;
        
        margin: 0;
    }
    p{
        font-size: 1.3rem;
        line-height: 1.75rem;
        
        margin: 0;
    }
}
.Section > h2{
    
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(22, 25, 48);
}


.Section__txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 17rem;
    position: relative;
    h3{
     color: rgba(250, 204, 21, 0.801);
    
    }
   >  p{
    margin-bottom: 2rem;
}


}
.Section__txt_skill{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.5rem;
    
}
.Section__txt_skill_s{
    height: 1.5rem;
    width: auto;
    border: #ffffff solid 1px;
    display: flex;
    gap: 0.5rem;
    justify-content:space-between;
    align-items: center;
    border-radius: 1.7rem;
    padding-right: 0.5rem;
    
    
    .img1{
        background-image:url(../img/html.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.2rem 1.2rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #ffffff 1px;
       
    }
    .img2{
        background-image:url(../img/css.svg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.2rem 1.2rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #ffffff 1px;
        
    }
    .img3{
        background-image: url(../img/js.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.2rem 1.2rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #ffffff 1px;
       
    }
    .img4{
        background-image: url(../img/api.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.2rem 1.2rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #ffffff 1px;
       
    
    
    }
    p{
        font-size: 1rem;
        cursor: context-menu;
    }
}
.Section__txt_bttons{
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 0;
    bottom: 0.2rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button1{
        width: 2rem;
        height: 2rem;
        background-image: url(../img/next.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(250, 204, 21, 0.349);
        border: rgb(250, 204, 21) solid 1px;
        border-radius: 50%;
        cursor: pointer;
        /*    
        transition-duration: .5s;
        transition-property: scale,color,background-color;
        transition-timing-function: steps(90);//
        */
        transition: scale .3s linear,background-color 1s ease;
        &:hover{
            border: #ffffff solid 2px;
            background-color: rgba(250, 204, 21, 0.733);
            scale:1.1;
             
         }
    }
    .button2{
        width:2rem;
        height: 2rem;
        background-image: url(../img/be.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(250, 204, 21, 0.349);
        border: rgb(250, 204, 21) solid 1px;
        border-radius: 50%;
        cursor: pointer;
        /*
        transition-duration: .5s;
        transition-property: scale,color,background-color;
        */
        transition: scale .3s steps(90) ,background-color 1s ease ;
        &:hover{
           border: #ffffff solid 2px;
           background-color: rgba(250, 204, 21, 0.733);
           scale: 1.2;
            
        }
    }
}



.Section__1{
    
    height:17rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    .Section__img{
        position: relative;
        background-image: url(../img/555shots_so.png);
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 17rem;
        border-radius: 0.7rem;
        order: 2;
        
        
    }
    

}
.Section__2{
    height:17rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    .Section__img{
        background-image: url(../img/939shots_so.jpg);
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 17rem;
        border-radius: 0.7rem;
        order: 2;
        
        
    }
  

}
.Section__3{
    height:17rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    .Section__img{
        position: relative;
        background-image: url(../img/707shots_so.png);
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 17rem;
        border-radius: 0.7rem;
        order: 2;
    }
    .Section__txt_skill_api{
        height: 1.5rem;
        width: 1.5rem ;    
        border: #ffffff solid 1px;
        border-radius: 50%;
        background-image: url(../img/api.svg);
        background-position: center;
        background-size: cover;
    }
}
 
 
.Skills{
    height: auto;
    width: 70%;
    margin: auto;
    padding-top: 4rem;

}
.Skills > h3{
    
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.87rem;
    line-height: 2.25rem;
    
}
.Skills__conteiner{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "html css js git figma"
    ".  linux . bash ."
    
    ;
    gap: 0rem;
    row-gap: 2rem;
    margin-top: 3rem;
    .bash{
        grid-area: bash;
    }
    .linux{
        grid-area: linux;
    }
}
.Skills__skill{
    width: 10rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    p{
        
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }
    img{
        width: 5rem;
        height: 5rem;
    
    }

}
.Aboutme{
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    h2{
        font-size: 1.875rem;
        line-height: 2.25rem;   
    }
    
    
}
.Aboutme__article{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    p{
        font-size: 1.2rem;
        line-height: 1.75rem;

    }
    strong{
        font-size: 1.2rem;
        color: rgba(250, 204, 21, 0.801);
        font-weight: 700;
    }
}
.Aboutme__article_txt{
    width: 68%;
    height: max-content;
}
.Aboutme__article_figure{
    width: 13rem;
    height: 16rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-radius: 0.8rem;
    position: relative;
    &::after{
        content: "";
        width: 12.6rem;
        height: 15.6rem;
        position: absolute;
       background-image: url(/img/mio2.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
        border-radius: .7rem;
        z-index: 9999;

    }
    
    .img{
        width: 30rem;
        height: 30rem;
        background-image: conic-gradient(from 90deg at 50% 50%, #FFD700,#21554e, #FFD700);
        animation:rotatephoto  5s ease-in-out infinite ;
        flex-shrink: 0;
    }
    
    
}
@keyframes rotatephoto {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.Footer{
    max-width: 92.5%;
    height: 3.4rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    border-radius: 1.8rem;
    background-color: rgba(216, 216, 231, 0.219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
    cite{
        color: #ffffffdc;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    a{
        text-decoration: none;
        color: #ffffff;
        margin-left: .6rem;
        font-size: 1.1rem;
        font-weight: 500;
        &:hover{
            color: rgb(250, 204, 21);
        }
    
    }
    
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(22, 25, 48);
        font-family: var(--Onest);
    }
    a{
    
        color: aliceblue;
    }

    h1, h2, p {
        font-family: var(--Onest),'Courier New', Courier, monospace;
        
    }
    h1,h2,h3{
        color: #ffffff;
    }
    p{
        color: #ffffffa6
    }
    .Section h2{
        color: white;
        .noneBlack{
            display: none;
    
        }
        

    }
    .Skills > h3{
        .noneBlack{
            display: none;
        }

    }
    .Skills__conteiner .iconBlack{
        display: none;


    }
    .Aboutme{
        .noneBlack{
            display: none;

        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffffdc;
        color: rgb(22, 25, 48);
        font-family: var(--Onest);   
    }
    .Main_buttons button{
        background-color: rgba(250, 204, 21, 0.884);
        color: #ffffff;
        border:2px solid rgba(250, 204, 21, 0.801);  
        cursor: pointer;
    }
    a{
        color: rgb(22, 25, 48);
        font-family: var(--Onest);
    }
    h1, h2, p {
        font-family: var(--Onest),'Courier New', Courier, monospace;
        
    }
    h1{
      color: rgb(22, 25, 48);
    
    }
    p{
        color: rgba(22, 25, 48, 0.836);
    
    }
    .Main_buttons a{
        background-color: rgba(250, 204, 21, 0.801);


    }
    .Section .noneWhite{
        display: none;

    }
    .Section__txt_skill_s{
        height: 1.5rem;
        width: auto;
        border: rgba(250, 204, 21, 0.801) 1px;
        display: flex;
        gap: 0.5rem;
        justify-content:space-between;
        align-items: center;
        border-radius: 1.7rem;
        padding-right: 0.5rem;
        background-color: rgba(250, 204, 21, 0.884);
        
        
        .img1{
            border: solid rgba(250, 204, 21, 0.801) 1px;
           
        }
        .img2{
            border: solid rgba(250, 204, 21, 0.801) 1px;
        }
        .img3{
            border: solid rgba(250, 204, 21, 0.801) 1px;
           
        }
        .img4{     
            border: solid rgba(250, 204, 21, 0.801) 1px;
        }
        
      
        p{
            font-size: 1rem;
            color: white;
        }
    }
    .Section__3{
        .Section__txt_skill_api{
            border: solid rgba(250, 204, 21, 0.801) 1px;
            background-color: rgba(250, 204, 21, 0.884);
            
        
        }
    
    }
    .Skills > h3{
        .noneWhite{
            display: none;
        }

    }
    .Skills__conteiner .iconWhite{
        display: none;


    }
    .Aboutme{
        .noneWhite{
            display: none;

        }
    }
    .Footer{
        background-color: rgba(216, 216, 231, 0.774);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem 0 1.5rem;
        cite{
            color: rgb(22, 25, 48);
        }
        a{
            text-decoration: none;
            color: rgb(22, 25, 48);
            margin-left: .6rem;
            &:hover{
                color: rgb(250, 204, 21);
            }
        
        }
        
    }
}

@media(max-width: 37.5rem){
    body{
        overflow-x: hidden;

    }
    .Header{
        width: 90%;
        height: 3.2rem;
        
    }
    .Header__nav{
        width: 90%;
        height: 3.2rem;
        position: fixed;
        padding: 0;
        a{
            font-size: larger;

        }
    }
    .Main{
        max-width: 95%;
        padding:2.2rem 0 2.2rem 0;
        margin: 0 auto;
        
    }
    .Main__perfil{
        flex-direction: column;
        height: auto;

    }
    .Main__perfil__img{
        order: 1;
        bottom: 0;
        width:50%;
        gap: 1.4rem;

    }
    .avatar{
        width: 10rem;
        height: 10rem;
        
       
    }
    .Main__perfil__img .button{
        width: 15rem;
        height: 3rem;
        border-radius: 2.4rem;
        &::after{
            height: 2.4rem;
            width: 14.4rem;
            border-radius: 1.3rem;
            left: .3rem;
            font-weight: 200;
            font-size: larger;
    
        }

    }
    .Main__text{
        order: 2;
        width: 100%;
        h1{
            text-align:center;

        }
        p{
            text-align: center;
           text-wrap:pretty;
        }
    }
    .Main_buttons{
        width: 95%;
        height: auto;
        margin: 0 auto;
        margin-top: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Main_buttons a{
        height: 3rem;
        width: min-content;
        border-radius: 1.5rem;
        padding: .2rem;
    }
    .Section{
        max-width: 90%;
        margin-top: 2rem;
    }
    .Section >h2{
        margin: 0 auto;
        margin-bottom: 1.6rem;
    }
    .Section__1{
        height:30rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .Section__img{
            width: 100%;
            height: 17rem;
            border-radius:.5rem;
            order: 1;   
        }
    }
    .Section__2{
        height:30rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .Section__img{
            width: 100%;
            height: 17rem;
            border-radius:.5rem;
            order: 1;   
        }
    }
    .Section__3{
        height:30rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .Section__img{
            width: 100%;
            height: 17rem;
            border-radius:.5rem;
            order: 1;   
        }
    }
    .Section__txt{
        width: 100%;
        height: 19rem;
        position: relative;
        order: 2;
        h3{
         color: rgba(250, 204, 21, 0.801);
        }
       >  p{
        margin-bottom: 2rem;
        }
    }
    .Skills{
        width: 90%;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Skills__conteiner{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "html css  "
        "js git"
        "figma linux" 
        "bash bash"
        ;
        gap: 0;
        row-gap:1.6rem;
        margin-top: 3rem;
        justify-items: center;
        

        .html{
            grid-area: html;
        }
        .css{
            grid-area: css;}
        .js{
            grid-area: js;
        }
        .git{
            grid-area: git;
        }
        .figma{
            grid-area: figma;   
        }
        .bash{
            grid-area: bash;
            justify-self: center;
        }
        .linux{
            grid-area: linux;
        }
    }
    .Skills__skill{
        width: 12rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        p{
            
            font-weight: 400;
            color:white;
            font-size: larger;
        }
        img{
            width: 7rem;
            height: 7rem;
        
        }
    
    }
    
    .Aboutme{
        max-width: 90%;
        h2{
            text-align: center;
            margin: 0 auto;
            margin-bottom: 3rem;
        }
    
    }
    .Aboutme__article{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #000;
        gap: 3rem;
        p{
            font-size: 1.5rem;
            line-height: 1.75rem;
            font-weight: 200;
        }
        strong{
            font-size: 1.5rem;
            color: rgba(250, 204, 21, 0.801);
            font-weight: 400;
        }
    }
    .Aboutme__article_txt{
        width: 90%;
        height: max-content;
        order: 2;
        
    }
    .Aboutme__article_figure{
        order: 1;
        width: 16rem;
        height: 19rem;
    
        &::after{
            width: 15.4rem;
            height: 18.4rem;
        }  
    }
    
}
